* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Roboto Slab', serif;
  background-color: #333;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper h2 {
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0 0 0;
}

.underline {
  margin: 0 auto;
  width: 100px;
  height: 5px;
  background-color: #000000;
}

.scroll-fix:before {
  content: '';
  display: block;
  height: 58px;
  margin-top: -58px;
}

nav {
  text-transform: uppercase;
  -webkit-transition: background-color .7s;
  transition: background-color .7s;
}

nav a, nav i {
  font-size: 12px;
  color: #fff;
  -webkit-transition: color .5s, font-weight .4s;
  transition: color .5s, font-weight .4s;
}

nav i {
  padding: 10px;
}

nav .navbar-brand {
  font-weight: bold;
  font-size: 12px;
}

nav .navbar-brand:hover {
  color: #3b88ec;
}

nav .navbar-brand:hover .fa-tools {
  color: #3b88ec;
}

nav a:hover {
  color: #3b88ec;
  font-weight: bold;
}

nav .active {
  color: #3b88ec;
  font-weight: bold;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

header {
  color: #fff;
  overflow: hidden;
}

header h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
}

header .home-img {
  position: relative;
  height: 100vh;
  background-image: url("/project_web/img/strona-home.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

header .home-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -10;
}

header .home-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

header .home-text p {
  padding: 5px;
  font-size: 14px;
}

header .btn-outline-light {
  text-transform: uppercase;
  padding: 7px;
  font-size: 10px;
}

header .fa-chevron-down {
  display: none;
}

#aboutus .jumbotron {
  margin-bottom: 0;
  background-color: #ecccccc7;
}

#aboutus .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#aboutus .text .info-aboutus {
  padding: 10px;
  text-align: center;
}

#aboutus .text .img-aboutus img {
  margin-top: 15px;
  height: 200px;
  width: 100%;
}

#aboutus i {
  margin-top: 20px;
  font-size: 25px;
}

#aboutus h3 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  font-size: 25px;
}

#aboutus h4 {
  text-transform: uppercase;
  font-size: 20px;
}

#aboutus p {
  font-size: 15px;
}

#aboutus .hover-animation {
  -webkit-transition: color .5s;
  transition: color .5s;
}

#aboutus .hover-animation:hover {
  color: #3b88ec;
}
/*# sourceMappingURL=index.css.map */