nav
    a, i, .navbar-brand
        font-size: 20px

header
    h1
        font-size: 45px
    .home-text
        p
            font-size: 30px

    .fa-chevron-down
        display: block
        color: #fff
        position: absolute
        bottom: 5px
        left: 50%
        transform: translateX(-50%)
        font-size: 40px
        animation: bounce 2s infinite

    .btn-outline-light
        font-size: 17px

    .btn-outline-light:hover
        font-weight: bold