*
    box-sizing: border-box
    margin: 0
    padding: 0

html
    scroll-behavior: smooth

body
    position: relative
    font-family: 'Roboto Slab', serif
    background-color: #333

// nav
nav
    text-transform: uppercase

    a, i
        color: #fff
        transition: color .5s, font-weight .4s

    i
        padding: 10px

    .navbar-brand
        font-weight: bold
        font-size: 15px

    .navbar-brand:hover
        color: #000000
        .fa-tools
            color: #000000

    a:hover, i:hover
        color: #000000
        font-weight: bold

    .active
        color: #000000
        font-weight: bold

// sekcja HOME
header
    color: #fff
    overflow: hidden

    h1
        text-transform: uppercase
        padding: 5px
        font-size: 20px
        font-weight: bold

    .home-img
        position: relative
        height: 100vh
        background-image: url('/project_web/img/strona-home.jpg')
        background-position: center
        background-size: cover
        background-attachment: fixed
        z-index: 0

    .home-shadow
        position: absolute
        width: 100%
        height: 100%
        background-color: rgba(0,0,0,.5)
        z-index: -10

    .home-text
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        height: 100%
        width: 100%
        // text-align: center

        p
            padding: 5px
            font-size: 14px

    .btn-outline-light
        // position: absolute
        text-transform: uppercase
        padding: 7px
        font-size: 10px

    .fa-chevron-down
        display: none
        color: #fff
        position: absolute
        bottom: 0%
        left: 50%
        transform: translateX(0%, -50)
        font-size: 40px

