nav
    a, i, .navbar-brand
        font-size: 18px

header
    h1
        font-size: 38px
    .home-text
        p
            font-size: 25px

    .fa-chevron-down
        display: block
        color: #fff
        position: absolute
        bottom: 5px
        left: 50%
        transform: translateX(-50%)
        font-size: 35px
        animation: bounce 2s infinite

    .btn-outline-light
        font-size: 15px

    .btn-outline-light:hover
        font-weight: bold

.wrapper
    h2
        padding: 20px 0 0 0
        font-size: 35px

#aboutus
    .text
        .info-aboutus
            font-size: 27px
            // width: 70%

        .img-aboutus
            img
                // margin-top: 15px
                height: 50vh

    h3
        font-size: 35px
        font-weight: normal
        padding: 50px 0 0 0
    i
        font-size: 35px
    h4
        font-size: 24px
        // font-weight: bold
    p
        font-size: 20px