nav
    a, i, .navbar-brand
        font-size: 18px

header
    h1
        font-size: 38px
    .home-text
        p
            font-size: 25px

    .fa-chevron-down
        display: block
        color: #fff
        position: absolute
        bottom: 5px
        left: 50%
        transform: translateX(-50%)
        font-size: 35px
        animation: bounce 2s infinite

    .btn-outline-light
        font-size: 15px

    .btn-outline-light:hover
        font-weight: bold

.wrapper
    h2
        padding: 30px 0 0 0
        font-size: 35px

#aboutus
    .text
        .info-aboutus
            font-size: 25px
            // width: 70%

        .img-aboutus
            img
                // margin-top: 15px
                height: 50vh

    h3
        font-size: 35px
        font-weight: normal
        padding: 50px 0 0 0
    i
        font-size: 35px
    h4
        font-size: 24px
        // font-weight: bold
    p
        font-size: 20px

#projects
    .jumbotron
        h2
            font-size: 35px

        .underline
            margin-bottom: 10px

    .row
        flex-direction: column

    .col-md-6
        max-width: 75%

    .carousel-inner
        img
            margin: 10px
            height: 300px

#help
    h2
        font-size: 35px
    a
        font-size: 26px

#team
    h2
        font-size: 35px
    .card-text
        font-size: 15px

#price
    .card-body
        height: 410px

    .card-title
        font-size: 20px
        span
            font-size: 21px
            // text-shadow: 2px 1px #252525

    .card-text
        ul
            padding: 0 10px
            font-size: 17px

    .price-info
        // text-align: center
        // width: 70%
        font-size: 17px

#reviews
    .jumbotron h2
        font-size: 35px

@media ( min-width:  1070px)
    #price
        .card-title
            font-size: 20px
            span
                font-size: 21px
        .card-body
            height: 380px
        .card-text
            ul
                padding: 0 12px
                font-size: 16px

@media ( min-width:  1250px)
    #projects
        .row
            flex-direction: row

        .carousel-inner
            img
                height: 350px

    #price
        .card-title
            font-size: 21px
            span
                font-size: 22px
        .card-body
            height: 370px
        .card-text
            ul
                padding: 0 12px
                font-size: 17px

@media ( min-width:  1400px)
    #price
        .card-title
            font-size: 22px
            span
                font-size: 23px
        .card-body
            height: 370px
        .card-text
            ul
                padding: 0 15px
                font-size: 18px

@media ( min-width:  1580px)
    #price
        .card-body
            height: 410px
        .card-text
            ul
                padding: 0 12px
                font-size: 19px
        .price-info
            font-size: 19px

@media ( min-width:  1649px)
    #price
        .card-body
            height: 410px
        .card-text
            ul
                padding: 0 14px
                font-size: 19px
        .price-info
            font-size: 19px

@media ( min-width:  1700px)
    #projects
        .row
            flex-direction: row

        .carousel-inner
            img
                height: 400px