nav
    .navbar-brand
        font-size: 15px

header
    h1
        font-size: 35px
    .home-text
        p
            font-size: 20px

    .btn-outline-light
        font-size: 12px

    .btn-outline-light:hover
        font-weight: bold

.wrapper
    h2
        font-size: 32px

#aboutus
    .text
        .info-aboutus
            font-size: 27px

        .img-aboutus
            img
                // margin-top: 15px
                height: 40vh

    h3
        font-size: 30px
        // font-weight: bold
    i
        font-size: 30px
    h4
        font-size: 26px
        // font-weight: bold
    p
        font-size: 20px