nav
    .navbar-brand
        font-size: 15px

header
    h1
        font-size: 35px
    .home-text
        p
            font-size: 20px

    .btn-outline-light
        font-size: 12px

    .btn-outline-light:hover
        font-weight: bold

.wrapper
    h2
        padding: 20px 0 0 0
        font-size: 32px

#aboutus
    .text
        .info-aboutus
            font-size: 22px

        .img-aboutus
            img
                // margin-top: 15px
                height: 40vh

    h3
        font-size: 30px
        padding: 35px 0 0 0
        // font-weight: bold
    i
        font-size: 28px
    h4
        font-size: 23px
        // font-weight: bold
    p
        font-size: 20px

#projects
    .jumbotron
        h2
            font-size: 32px
            margin-top: 10px
    .one, .two, .three
        // display: flex
        // justify-content: center
        // align-items: center
        flex-direction: column
        h3
            text-align: center
            padding: 30px 0
            font-size: 28px
    .card-body
        h5
            font-size: 25px
        p
            font-size: 18px

#help
    h2
        font-size: 30px
    a
        font-size: 22px

#team
    h2
        font-size: 32px
    .card-text
        font-size: 15px
// @media (min-width: 846px)
//     #projects
//         // display: flex
//         // // justify-content: center
//         // // align-items: center
//         // flex-direction: column