nav
    .navbar-brand
        font-size: 15px

header
    h1
        font-size: 32px
    .home-text
        p
            font-size: 19px

    .btn-outline-light
        font-size: 11px

    .btn-outline-light:hover
        font-weight: bold

.wrapper
    h2
        font-size: 30px

#aboutus
    .text
        .info-aboutus
            font-size: 25px

    h3
        font-size: 28px
        // font-weight: normal
    i
        font-size: 27px
    h4
        font-size: 24px
        // font-weight: bold
    p
        font-size: 17px